{% extends 'base.html' %}

{% block title %}{{ 'Edit' if driver else 'Add' }} Driver{% endblock %}

{% block content %}
  <h2 class="mb-3">{{ 'Edit' if driver else 'Add' }} Driver</h2>

  <div class="card mx-auto" style="max-width:720px;">
    <div class="card-body">
      <form method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">First Name</label>
            <input class="form-control" name="first_name" value="{{ driver.First_Name if driver else '' }}" required>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" name="last_name" value="{{ driver.Last_Name if driver else '' }}">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Pickup</label>
          <input class="form-control" name="pickup" value="{{ driver.Pickup if driver else '' }}">
        </div>

        <div class="mb-3">
          <label class="form-label">Destination</label>
          <input class="form-control" name="destination" value="{{ driver.Destination if driver else '' }}">
        </div>

        <div class="d-flex justify-content-between">
          <a class="btn btn-outline-secondary" href="{{ url_for('drivers') }}">Cancel</a>
          <button class="btn btn-primary">{{ 'Update' if driver else 'Add' }}</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
